html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  background: #f5f5f5;
  font-size: 16px;
  line-height: 1.28571em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

/*** Nav ***/

#navigation {
  position: relative;
  min-width: 1020px;
  height: 60px;
  padding: 12px 0 20px;
  background: #d32323 url(https:s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/71b1e22bfb1f/assets/img/structural/header_stars.png) no-repeat center;
  top: 0;
  left: 0;
}

#content-container {
  position: relative;
  width: 960px;
  height: 80%;
  margin-left: 100px;
}

#burst {
  position: absolute;
  top: 0;
  left: 50px;
  height: 75px;
  width: 75px;
}

#logo {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 300%;
  font-weight: 600;
  color: #fff;
}

#search {
  position: absolute;
  display: inline-block;
  top: 20%;
  left: 15%;
}

#search input {
  font-size: 18px;
  font-family: inherit;
  padding-left: 10px;
  outline-width: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  width: 335px;
}

#nav-btn:hover {
  cursor: pointer;
  background: linear-gradient(#d90007,#c91400);
  outline: 0;
}

#nav-btn {
  position: absolute;
  height: 35px;
  width: 55px;
  top: 0;
  left: 710px;
  background-color: #d90007;
  border: 1px solid #5b0000;
  outline: 0;
  border-radius: 4px;
}

#nav-btn i {
  font-size: 16px;
  color: #fff;
}

#sign-up:hover {
  cursor: pointer;
  background: linear-gradient(#d90007,#c91400);
  outline: 0;
}

#sign-up {
  position: absolute;
  height: 35px;
  width: 100px;
  top: 0;
  left: 800px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #d90007;
  border: 1px solid #5b0000;
  outline: 0;
  border-radius: 4px;
}

.results {
  width: 100%;
  margin-top: 0;
  padding-bottom: 25px;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

/*** End Navigation CSS ***/

#main {
  position: relative;
  height: 80%;
  margin: 40px 35px 40px 35px;
  padding: 30px;
  border-top: 1px solid #ddd;
}

#left {
  position: absolute;
  width: 100%;
  height: 80%;
  margin-top: 20px;
  top: 0;
  left: 0;
}

#right {
  position: absolute;
  width: 30%;
  height: 80%;
  margin-top: 20px;
  top: 0;
  right: 0;
}

#review {
  margin-top: 16px;
  height: 35%;
  font-size: 24px;
  font-family: inherit;
}

/*** Business List View ***/

.business:last-child {
  padding-bottom: 25px;
  border-bottom: 1px solid #ebc074;
}

.business {
  position: relative;
  width: 58%;
  margin-top: 16px;
  margin-left: 4%;
  padding-top: 25px;
  border-top: 1px solid #ebc074;
}

.business img {
  height: 90px;
  width: 90px;
  border-radius: 4px;
}

.business-name {
  position: absolute;
  font-weight: bold;
  font-size: 150%;
  color: #0073bb;
  left: 120px;
  top: 30px;
}

a {
  text-decoration: none;
}

.business-rating {
  position: absolute;
  font-weight: bold;
  font-size: 100%;
  color: #000;
  left: 120px;
  top: 65px;
}

.business-address {
  position: absolute;
  font-style: normal;
  width: 18%;
  left: 70%;
  top: 30px;
}

.business-review {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

/*** Single Business UI View ***/

.business-main {
  margin-left: 5px;
}

.business-header {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;
}

.business-header-name {
  width: 35%;
}

.business-main-rating {
  position: absolute;
  font-weight: bold;
  font-size: 80%;
  color: #000;
  left: 60px;
  top: 45px;
}

.review-button {
  position: absolute;
  width: 170px;
  height: 28px;
  left: 47%;
  top: 0;
  padding-top: 8px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #d90007;
  border: 1px solid #6d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  border-radius: 4px;
}

#map:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#map {
  margin-top: 10px;
  height: 175px;
  width: 225px;
}

.business-main-reviews:last-child {
  border-bottom: 1px solid #ebc074;
}

.business-main-reviews {
  position: relative;
  width: 60%;
  height: 200px;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  border-top: 1px solid #ebc074;
}

#smallImage {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

#time-stamp {
  position: absolute;
  top: 50px;
  left: 170px;
  font-size: 16px;
  font-weight: bold;
}

#userName {
  position: absolute;
  left: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #0073bb;
}

#userReviews {
  font-size: 16px;
  margin-top: 14%;
  margin-left: 35%;
  width: 55%;
}

/*** User Review Form ***/

 .review-container {
   position: absolute;
   top: 0;
   width: 68%;
   height: 100%;
 }

 .review-message {
   display: block;
   font-size: 18px;
   font-weight: bold;
   color: #d32323;
   padding-bottom: 20px;
   border-bottom: 1px solid #ddd;
   margin-bottom: 20px;
 }

 #reviewImage {
   display: inline-block;
   left: 0;
   top: 0;
   height: 50px;
   width: 50px;
   margin-right: 10px;
   margin-bottom: 15px;
   border-radius: 4px;
 }

 .review-name {
   position: absolute;
   top: 60px;
   font-size: 16px;
   font-weight: bold;
   color: #0073bb;
 }

 .review-address {
   position: absolute;
   top: 80px;
   width: 14%;
   font-size: 10px;
 }

 .review-label {
   height: 100%;
   font-size: 14px;
   font-weight: bold;
 }

 #ratingInput {
   margin-top: 5px;
   margin-bottom: 12px;
   width: 14%;
   padding: 4px 0 4px 4px;
   font-size: 14px;
   color: #000;
   background: rgba(250,250,249,.9);
   border: 1px solid #bbb;
   border-color: #999995;
   box-shadow: inset 0 2px 2px rgba(0,0,0,.15),0 0 6px rgba(0,126,255,.5);
   border-radius: 4px;
 }

 .text-area {
   padding-top: 5px;
   padding: 4px 0 0 4px;
   height: 160px;
   width: 100%;
   font-size: 14px;
   color: #000;
   background: rgba(250,250,249,.9);
   border: 1px solid #bbb;
   border-color: #999995;
   box-shadow: inset 0 2px 2px rgba(0,0,0,.15),0 0 6px rgba(0,126,255,.5);
   border-radius: 4px;
 }

 .post-button:hover {
   cursor: pointer;
   background: linear-gradient(#d90007,#c91400);
 }

 .post-button {
   margin-top: 10px;
   width: 80px;
   height: 26px;
   text-align: center;
   font-size: 10px;
   font-weight: bold;
   color: #fff;
   background-color: #d90007;
   border: 1px solid #8d0005;
   box-shadow: 0 1px 1px rgba(0,0,0,.3);
   border-radius: 4px;
 }

 /*** Sign-up Form ***/

.signup-main {
  width: 100%;
}

.signup-left {
  display: inline-block;
  width: 50%;
}

.signup-heading {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  color: #d32323;
}

.signup-subheading {
  position: absolute;
  top: 35px;
  left: 0;
  font-weight: bold;
}

.signup-right {
  display: inline-block;
  width: 50%;
}

.signup-input {
  position: absolute;
  padding: 8px 0 8px 6px;
  font-size: 14px;
  color: #000;
  background: rgba(250,250,249,.9);
  border: 1px solid #bbb;
  border-color: #999995;
  box-shadow: inset 0 2px 2px rgba(0,0,0,.15),0 0 6px rgba(0,126,255,.5);
  border-radius: 4px;
}

#signup-firstname {
  top: 70px;
  left: 0;
  width: 200px;
}

#signup-lastname {
  top: 70px;
  left: 210px;
  width: 200px;
}

#signup-email {
  top: 115px;
  left: 0;
  width: 410px;
}

#signup-password {
  top: 160px;
  left: 0;
  width: 410px;
}

#signup-zip {
  top: 205px;
  left: 0;
  width: 410px;
}

#signup-button:hover {
  cursor: pointer;
  background: linear-gradient(#d90007,#c91400);
}

#signup-button {
  top: 250px;
  left: 0;
  width: 418px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #d90007;
  border: 1px solid #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  border-radius: 4px;
}

#signup-image {
  position: absolute;
  top: 0;
  right: 0;
}

/*** Landing Sign-up Form ***/

.landing-main {
 width: 100%;
}

.landing-left {
 display: inline-block;
 width: 50%;
}

.landing-heading {
 position: absolute;
 top: 0;
 left: 0;
 font-size: 20px;
 font-weight: bold;
 color: #d32323;
}

.landing-subheading {
 position: absolute;
 top: 35px;
 left: 0;
 font-weight: bold;
}

.landing-right {
 display: inline-block;
 width: 50%;
}

.landing-input {
 position: absolute;
 padding: 8px 0 8px 6px;
 font-size: 14px;
 color: #000;
 background: rgba(250,250,249,.9);
 border: 1px solid #bbb;
 border-color: #999995;
 box-shadow: inset 0 2px 2px rgba(0,0,0,.15),0 0 6px rgba(0,126,255,.5);
 border-radius: 4px;
}

#landing-firstname {
 top: 70px;
 left: 0;
 width: 200px;
}

#landing-lastname {
 top: 70px;
 left: 210px;
 width: 200px;
}

#landing-email {
 top: 115px;
 left: 0;
 width: 410px;
}

#landing-password {
 top: 160px;
 left: 0;
 width: 410px;
}

#landing-zip {
 top: 205px;
 left: 0;
 width: 410px;
}

#landing-button:hover {
 cursor: pointer;
 background: linear-gradient(#d90007,#c91400);
}

#landing-button {
 top: 250px;
 left: 0;
 width: 418px;
 height: 40px;
 text-align: center;
 font-size: 14px;
 font-weight: bold;
 color: #fff;
 background-color: #d90007;
 border: 1px solid #8d0005;
 box-shadow: 0 1px 1px rgba(0,0,0,.3);
 border-radius: 4px;
}

#landing-image {
 height: 365px;
 width: 400px;
 position: absolute;
 top: 0;
 right: 0;
}

/*** User Profile ***/
.profile-main {
  padding-bottom: 35px;
  border-bottom: 1px solid #ddd;
}

.signup-button:hover {
  cursor: pointer;
  background: linear-gradient(#d90007,#c91400);
  outline: 0;
}

.signup-button {
  position: absolute;
  height: 35px;
  width: 100px;
  top: 22px;
  left: 1050px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #d90007;
  border: 1px solid #5b0000;
  outline: 0;
  border-radius: 4px;
}

.profile-image {
  position: absolute;
  top: 0;
  left: 0;
}

.profile-name {
  position: absolute;
  top: 20px;
  left: 225px;
  font-size: 23px;
  font-weight: bold;
  color: #333;
}

.profile-city {
  position: absolute;
  top: 60px;
  left: 225px;
  font-size: 23px;
  font-weight: bold;
  color: #333;
}

/*** Media Queries ***/

@media only screen
and (min-width : 1224px) {
  #main {
    margin-left: 190px;
    width: 62%;
  }
}

@media only screen
and (min-width : 1824px) {
  body {
    width: 80%;
  }

  #main {
    margin-left: 490px;
    width: 45%;
  }

  #content-container {
    margin: 0 auto;
  }

  #burst {
    left: 490px;
  }
}
