html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  background: #f5f5f5;
  font-size: 16px;
  line-height: 1.28571em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

#navigation {
  position: relative;
  min-width: 1020px;
  height: 60px;
  padding: 12px 0 6px;
  background: #d32323 url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/71b1e22bfb1f/assets/img/structural/header_stars.png) no-repeat center;
  top: 0;
  left: 0;
}

#content-container {
  position: relative;
  width: 960px;
  height: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

#logo {
  position: absolute;
  width: 100px;
  height: 50px;
  padding: 0;
  margin-bottom: 0;
  background: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_styleguide/f139a5c9584c/assets/img/logos/header_logo_desktop.png) no-repeat;
  background-size: 100px 50px;
}

#search {
  position: absolute;
  display: inline-block;
  top: 20%;
  left: 15%;
}

#search input {
  font-size: 18px;
  font-family: inherit;
  padding-left: 10px;
  outline-width: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  width: 370px;
}

#nav-btn:hover {
  cursor: pointer;
  background: linear-gradient(#d90007,#c91400);
  outline: 0;
}

#nav-btn {
  height: 35px;
  width: 55px;
  margin-left: 5px;
  background-color: #d90007;
  border: 1px solid #5b0000;
  outline: 0;
  border-radius: 4px;
}

#nav-btn i {
  font-size: 16px;
  color: #fff;
}

.results {
  width: 100%;
  margin-top: 0;
  padding-bottom: 25px;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

/*** End Navigation CSS ***/

#main {
  position: relative;
  height: 80%;
  margin: 40px 35px 40px 35px;
  padding: 30px;
  border-top: 1px solid #ddd;
}

#left {
  position: absolute;
  width: 68%;
  height: 80%;
  margin-top: 20px;
  top: 0;
  left: 0;
}

#right {
  position: absolute;
  width: 30%;
  height: 80%;
  margin-top: 20px;
  top: 0;
  right: 0;
}

#review {
  margin-top: 16px;
  height: 35%;
  font-size: 24px;
  font-family: inherit;
}

/*** Business List View ***/

.business {
  position: relative;
  width: 75%;
  margin-top: 16px;
  margin-left: 8%;
  padding-top: 25px;
  border-top: 1px solid #ebc074;
}

.business img {
  height: 90px;
  width: 90px;
  border-radius: 4px;
}

.business-name {
  position: absolute;
  font-weight: bold;
  font-size: 150%;
  color: #0073bb;
  left: 22%;
  top: 30px;
}

a {
  text-decoration: none;
}

.business-address {
  position: absolute;
  font-style: normal;
  width: 18%;
  left: 70%;
  top: 30px;
}

.business-review {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

/*** Individual Business UI View ***/

.business-header {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd;
}

#map {
  margin-top: 10px;
  height: 175px;
  width: 225px;
}

.business-main-reviews {
  position: relative;
  border-top: 1px solid #ebc074;
  margin-top: 25px;
  padding-top: 15px;
  width: 68%;
  height: 200px;
}

#smallImage {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

#userName {
  position: absolute;
  left: 60px;
  font-size: 16px;
  font-weight: bold;
  color: #0073bb;
}

#userReviews {
  position: absolute;
  font-size: 14px;
  top: 25%;
  margin-left: 35%;
  width: 65%;
}
